<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <welcome-file-list>
        <welcome-file>/login.html</welcome-file>
    </welcome-file-list>
    <!--filter-->
    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>com.aaa.filter.EncodingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!--登陆-->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.aaa.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <!--获取菜单-->
    <servlet>
        <servlet-name>GetMeunListServlet</servlet-name>
        <servlet-class>com.aaa.servlet.GetMeunListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetMeunListServlet</servlet-name>
        <url-pattern>/GetMeunListServlet</url-pattern>
    </servlet-mapping>
    <!--获取所有的员工的信息-->
    <servlet>
        <servlet-name>GetStaffAllServlet</servlet-name>
        <servlet-class>com.aaa.servlet.GetStaffAllServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetStaffAllServlet</servlet-name>
        <url-pattern>/GetStaffAllServlet</url-pattern>
    </servlet-mapping>
    <!--获取所有的可用角色-->
    <servlet>
        <servlet-name>GetStaffAllRoleServlet</servlet-name>
        <servlet-class>com.aaa.servlet.GetStaffAllRoleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetStaffAllRoleServlet</servlet-name>
        <url-pattern>/GetStaffAllRoleServlet</url-pattern>
    </servlet-mapping>
    <!--修改员工信息-->
    <servlet>
        <servlet-name>UpdateStaffServlet</servlet-name>
        <servlet-class>com.aaa.servlet.UpdateStaffServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateStaffServlet</servlet-name>
        <url-pattern>/UpdateStaffServlet</url-pattern>
    </servlet-mapping>
    <!--删除员工-->
    <servlet>
        <servlet-name>DelStaffServlet</servlet-name>
        <servlet-class>com.aaa.servlet.DelStaffServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DelStaffServlet</servlet-name>
        <url-pattern>/DelStaffServlet</url-pattern>
    </servlet-mapping>
    <!--获取所有会员信息-->
<servlet>
    <servlet-name>GetUserAllServlet</servlet-name>
    <servlet-class>com.aaa.servlet.GetUserAllServlet</servlet-class>
</servlet>
    <servlet-mapping>
        <servlet-name>GetUserAllServlet</servlet-name>
        <url-pattern>/GetUserAllServlet</url-pattern>
    </servlet-mapping>
    <!--修改会员信息-->
    <servlet>
        <servlet-name>UpdateUserServlet</servlet-name>
        <servlet-class>com.aaa.servlet.UpdateUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateUserServlet</servlet-name>
        <url-pattern>/UpdateUserServlet</url-pattern>
    </servlet-mapping>
    <!--获取所有的可用角色  多-->
    <servlet>
        <servlet-name>GetUserAllRoleServlet</servlet-name>
        <servlet-class>com.aaa.servlet.GetUserAllRoleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetUserAllRoleServlet</servlet-name>
        <url-pattern>/GetUserAllRoleServlet</url-pattern>
    </servlet-mapping>
    <!--登记会员信息-->
    <servlet>
        <servlet-name>AddUserServlet</servlet-name>
        <servlet-class>com.aaa.servlet.AddUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddUserServlet</servlet-name>
        <url-pattern>/AddUserServlet</url-pattern>
    </servlet-mapping>
    <!--删除会员信息-->
    <servlet>
        <servlet-name>DelUserServlet</servlet-name>
        <servlet-class>com.aaa.servlet.DelUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DelUserServlet</servlet-name>
        <url-pattern>/DelUserServlet</url-pattern>
    </servlet-mapping>
    <!--获取所有的职位-->
    <servlet>
        <servlet-name>GetAllRoleInfoServlet</servlet-name>
        <servlet-class>com.aaa.servlet.GetAllRoleInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetAllRoleInfoServlet</servlet-name>
        <url-pattern>/GetAllRoleInfoServlet</url-pattern>
    </servlet-mapping>
    <!--增加或者修改角色-->
    <servlet>
        <servlet-name>UpdateOrAddRoleServlet</servlet-name>
        <servlet-class>com.aaa.servlet.UpdateOrAddRoleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateOrAddRoleServlet</servlet-name>
        <url-pattern>/UpdateOrAddRoleServlet</url-pattern>
    </servlet-mapping>
    <!--删除职位-->
    <servlet>
        <servlet-name>DelRoleServlet</servlet-name>
        <servlet-class>com.aaa.servlet.DelRoleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DelRoleServlet</servlet-name>
        <url-pattern>/DelRoleServlet</url-pattern>
    </servlet-mapping>
    <!--根据角色获取treeview-->
    <servlet>
        <servlet-name>GetRoleListByIdServlet</servlet-name>
        <servlet-class>com.aaa.servlet.GetRoleListByIdServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetRoleListByIdServlet</servlet-name>
        <url-pattern>/GetRoleListByIdServlet</url-pattern>
    </servlet-mapping>
    <!--权限修改-->
    <servlet>
        <servlet-name>UpdateMenuListServlet</servlet-name>
        <servlet-class>com.aaa.servlet.UpdateMenuListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateMenuListServlet</servlet-name>
        <url-pattern>/UpdateMenuListServlet</url-pattern>
    </servlet-mapping>
    <!--获取所有的商品的信息-->
    <servlet>
        <servlet-name>GetGoodsAllServlet</servlet-name>
        <servlet-class>com.aaa.servlet.GetGoodsAllServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetGoodsAllServlet</servlet-name>
        <url-pattern>/GetGoodsAllServlet</url-pattern>
    </servlet-mapping>
    <!--获取所有的可用商品-->
    <servlet>
        <servlet-name>GetGoodsAllCategoryServlet</servlet-name>
        <servlet-class>com.aaa.servlet.GetCategoryAllServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetGoodsAllCategoryServlet</servlet-name>
        <url-pattern>/GetGoodsAllCategoryServlet</url-pattern>
    </servlet-mapping>
    <!--修改商品信息-->
    <servlet>
        <servlet-name>UpdateGoodsServlet</servlet-name>
        <servlet-class>com.aaa.servlet.UpdateGoodsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateGoodsServlet</servlet-name>
        <url-pattern>/UpdateGoodsServlet</url-pattern>
    </servlet-mapping>
    <!--添加商品-->
    <servlet>
        <servlet-name>AddGoodsServlet</servlet-name>
        <servlet-class>com.aaa.servlet.AddGoodsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddGoodsServlet</servlet-name>
        <url-pattern>/AddGoodsServlet</url-pattern>
    </servlet-mapping>
    <!--删除商品-->
    <servlet>
        <servlet-name>DelGoodsServlet</servlet-name>
        <servlet-class>com.aaa.servlet.DelGoodsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DelGoodsServlet</servlet-name>
        <url-pattern>/DelGoodsServlet</url-pattern>
    </servlet-mapping>
<!--得到类别信息-->
    <servlet>
        <servlet-name>GetCategoryAllServlet</servlet-name>
        <servlet-class>com.aaa.servlet.GetCategoryAllServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetCategoryAllServlet</servlet-name>
        <url-pattern>/GetCategoryAllServlet</url-pattern>
    </servlet-mapping>
    <!--修改类别信息-->
    <servlet>
        <servlet-name>UpdateCategoryServlet</servlet-name>
        <servlet-class>com.aaa.servlet.UpdateCategoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateCategoryServlet</servlet-name>
        <url-pattern>/UpdateCategoryServlet</url-pattern>
    </servlet-mapping>


    <!--上下架该类别所有商品-->
    <servlet>
        <servlet-name>DelCategoryServlet</servlet-name>
        <servlet-class>com.aaa.servlet.DelCategoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DelCategoryServlet</servlet-name>
        <url-pattern>/DelCategoryServlet</url-pattern>
    </servlet-mapping>


    <!--获取新闻/公告-->
    <servlet>
        <servlet-name>GetNewsAllServlet</servlet-name>
        <servlet-class>com.aaa.servlet.GetNewsAllServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetNewsAllServlet</servlet-name>
        <url-pattern>/GetNewsAllServlet</url-pattern>
    </servlet-mapping>
    <!--修改新闻公告-->
    <servlet>
        <servlet-name>UpdateNewsServlet</servlet-name>
        <servlet-class>com.aaa.servlet.UpdateNewsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateNewsServlet</servlet-name>
        <url-pattern>/UpdateNewsServlet</url-pattern>
    </servlet-mapping>
    <!--增加新闻-->
    <servlet>
        <servlet-name>AddNewsServlet</servlet-name>
        <servlet-class>com.aaa.servlet.AddNewsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddNewsServlet</servlet-name>
        <url-pattern>/AddNewsServlet</url-pattern>
    </servlet-mapping>
<!--删除新闻-->
    <servlet>
        <servlet-name>DelNewsServlet</servlet-name>
        <servlet-class>com.aaa.servlet.DelNewsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DelNewsServlet</servlet-name>
        <url-pattern>/DelNewsServlet</url-pattern>
    </servlet-mapping>

    <!--获取会员卡信息-->
    <servlet>
        <servlet-name>GetCardAllServlet</servlet-name>
        <servlet-class>com.aaa.servlet.GetCardAllServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetCardAllServlet</servlet-name>
        <url-pattern>/GetCardAllServlet</url-pattern>
    </servlet-mapping>
    <!--修改/增加会员卡信息-->
    <servlet>
        <servlet-name>UpdateCardServlet</servlet-name>
        <servlet-class>com.aaa.servlet.UpdateCardServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateCardServlet</servlet-name>
        <url-pattern>/UpdateCardServlet</url-pattern>
    </servlet-mapping>



    <!--获取充值规则-->
    <servlet>
        <servlet-name>GetAllRechargeRuleServlet</servlet-name>
        <servlet-class>com.aaa.servlet.GetAllRechargeRuleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetAllRechargeRuleServlet</servlet-name>
        <url-pattern>/GetAllRechargeRuleServlet</url-pattern>
    </servlet-mapping>
    <!--更新充值规则-->
    <servlet>
        <servlet-name>UpdateRuleServlet</servlet-name>
        <servlet-class>com.aaa.servlet.UpdateRuleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateRuleServlet</servlet-name>
        <url-pattern>/UpdateRuleServlet</url-pattern>
    </servlet-mapping>
    <!--删除充值规则-->
    <servlet>
        <servlet-name>DelRechargeRuleServlet</servlet-name>
        <servlet-class>com.aaa.servlet.DelRechargeRuleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DelRechargeRuleServlet</servlet-name>
        <url-pattern>/DelRechargeRuleServlet</url-pattern>
    </servlet-mapping>
    <!--获取卡类型-->
    <servlet>
        <servlet-name>GetAllCardTypeInfoServlet</servlet-name>
        <servlet-class>com.aaa.servlet.GetAllCardTypeInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetAllCardTypeInfoServlet</servlet-name>
        <url-pattern>/GetAllCardTypeInfoServlet</url-pattern>
    </servlet-mapping>


    <!--删除卡信息-->
    <servlet>
        <servlet-name>DelCardServlet</servlet-name>
        <servlet-class>com.aaa.servlet.DelCardServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DelCardServlet</servlet-name>
        <url-pattern>/DelCardServlet</url-pattern>
    </servlet-mapping>
    <!--获取近一年的日期-->
    <servlet>
        <servlet-name>GetMonthByNearYearServlet</servlet-name>
        <servlet-class>com.aaa.servlet.GetMonthByNearYearServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetMonthByNearYearServlet</servlet-name>
        <url-pattern>/GetMonthByNearYearServlet</url-pattern>
    </servlet-mapping>


    <!--商品消费模态框-->
    <servlet>
        <servlet-name>GetCardInfoServlet</servlet-name>
        <servlet-class>com.aaa.servlet.GetCardInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetCardInfoServlet</servlet-name>
        <url-pattern>/GetCardInfoServlet</url-pattern>
    </servlet-mapping>
    <!--会员充值-->
    <servlet>
        <servlet-name>UserRechargeServlet</servlet-name>
        <servlet-class>com.aaa.servlet.UserRechargeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserRechargeServlet</servlet-name>
        <url-pattern>/UserRechargeServlet</url-pattern>
    </servlet-mapping>
    <!--登记会员-->
    <servlet>
        <servlet-name>AddUserInfoServlet</servlet-name>
        <servlet-class>com.aaa.servlet.AddUserInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddUserInfoServlet</servlet-name>
        <url-pattern>/AddUserInfoServlet</url-pattern>
    </servlet-mapping>
    <!--消费订单-->
    <servlet>
        <servlet-name>IntOrderServlet</servlet-name>
        <servlet-class>com.aaa.servlet.IntOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IntOrderServlet</servlet-name>
        <url-pattern>/IntOrderServlet</url-pattern>
    </servlet-mapping>
    <!--订单显示内容-->
    <servlet>
        <servlet-name>GetOrderRecordListServlet</servlet-name>
        <servlet-class>com.aaa.servlet.GetOrderRecordListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetOrderRecordListServlet</servlet-name>
        <url-pattern>/GetOrderRecordListServlet</url-pattern>
    </servlet-mapping>
</web-app>